@import 'reset.css';
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");



body{
    background-color:rgb(135, 206, 235);
    padding-top: 50px;
}



.container {
    border-radius: 25px;
    width: 800px;
    margin: 0 auto;
    padding: 20px 55px;
    background-color: white;
}
.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.header__container h1{
    font-size: 55px;
}
.form {
    overflow: hidden;
    display: flex;
    width: 350px;
    height: 40px;
    border: 2px solid black;
}
.form__input {
    outline: none;                    
    flex-grow: 1;                      
    border: none;
    font-size: 16px;
}
.form__button {
    border: none;
    background-color: #B1B1B1;
    cursor: pointer;
}
.form__button img{
    width: 50px;
    height: 36px;
}


/* ---------------------main---------------------- */
.main__filter {
    display: flex;
    gap: 20px; 
    justify-content: center;
    margin-bottom: 20px; 
}



.main__filter-item button {
    background-color: #f1f1f1; 
    border: 2px solid #ccc; 
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

}

.main__filter-item button:hover {
    background-color: #007BFF; 
    color: white; 
    border-color: #007BFF; 
}

.active{
    background-color: #007BFF; 
    color: white;
}


.task__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(135, 206, 235); 
    border-radius: 5px; 
}

.task__input {
    flex-grow: 1;
    border: 1px solid #ccc; 
    padding: 8px;
    border-radius: 10px; 
    font-size: 14px;
    margin-right: 10px;
    outline: none;   
}

.btn-action {
    cursor: pointer;
}

.btn-action img {
    width: 30px;
    height: 30px;
}

.btn-action:hover {
    opacity: 0.5; 
}

.form__button img, .btn-action img {
    object-fit: contain; 
}
